<div class="login-box">
    <div class="login-logo">
        <a href="/"><b>SGEP - {{ambiente}}</b></a>
    </div>

    <div class="login-box-body">
        <p class="login-box-msg">Bem vindo a área administrativa</p>
        <form>
            <div class="form-group has-feedback">
                <input type="email" class="form-control" placeholder="E-Mail">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="Senha">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Entrar</button>
                </div>
            </div>
        </form>
    </div>
</div>
